<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="article">
  <div class="board">
    <div>
      <form action="/board/boardsave" method="post" enctype="multipart/form-data">
        <label>제목</label>
        <input class = "input_title" name="title" type="text">
        <br />
        <label>내용</label>
        <textarea class = "input_content" name="content"></textarea>
        <br />
        <input type="file" name="file">
        <br />
        <button class="btn" type="submit">작성</button>
      </form>
    </div>
  </div>
</div>

</html>