<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<style>
</style>


<div layout:fragment="article">
  <div class="banner">
    <!--notice-->
    <div class="board_title">
      <h5>견적 상담소</h5>
      <a href="/board/write">작성</a>
    </div>
    <div class="board_list">
      <div class="board_list_top">
        <div class="title">제목</div>
        <div class="date">작성일</div>
      </div>
      <div th:each="board: ${list}">
        <div class="title" ><a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}">제목입니다.</a></div>
        <div class="date" th:text="${board.date}">날짜</div>
      </div>
      <div th:class="text_center">
        <th:block  th:each="page : ${#numbers.sequence(startPage, endPage)}">
          <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page -1})}" th:text="${page}"></a>
          <strong th:if="${page == nowPage}" th:text="${page}" style="color : #e24d4d"></strong>
        </th:block>
      </div>
    </div>
  </div>
</div>
</html>