<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="article">
    <div class="banner">
        <!--notice-->
        <div class="board_title">
            <h5>견적 상담소</h5>
            <span>
              <a class="btn" th:href="@{/board/modify/{id}(id=${board.id})}">수정</a>
              <a class="btn" th:href="@{/board/delete(id=${board.id})}">삭제</a>
              <a class="btn" th:href="@{${board.getFilepath()}}">사진보기</a>
                <!-- <a class="btn" th:href="@{/files/b10e3094-6a3d-4da9-a4fe-4824af689a1f_giraffe.png}">사진보기</a> -->
            </span>
        </div>
        <div class="board_list">
            <div class="board_list_top">
                <h2 th:text="${board.title}">제목입니다.</h2>
            </div>
            <p th:text="${board.content}">내용이 들어갈 부분</p>
        </div>
    </div>

</div>

</html>