<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="article">
  <h1>PC 케이스</h1>

  <h2 class="margin_top_asset">케이스 정의 - 케이스란?</h2>
  <img src="/images/case.jpg" width="400" , height="350" />
  <p>컴퓨터의 모든 부품들을 조합하여 보호해주는 껍데기이다.</p>

  <h2 class="margin_top_asset">케이스 구매시 고려사항 - 크기</h2>
  <p>
    케이스는 크기별로 이름이 나누어져 있는데 빅타워 > 미들타워 > 미니타워
    > 초슬림 순이다. 우리가 흔히 보는 크기는 미들타워이고 미니타워와
    초슬림은 가끔 보인다. 케이스의 폭/높이/깊이는 전부 사양에 적혀있으니
    원하는 크기의 케이스를 고르면 된다. <br />
    중요한 점은 그래픽카드와의 호환성을 봐야한다. 간혹 그래픽카드가 너무
    커서 케이스에 다 안들어가는 경우도 있다. 그래픽카드 사양을 보면 최소
    케이스의 크기를 알려주는 항목이 있으니 확인해야한다.
  </p>

  <h2 class="margin_top_asset">케이스 구매시 고려사항 - 디자인</h2>
  <p>
    케이스는 고릴 때 가장 중요한 요소이다. 디자인이 이뻐야 정이 많이 가지
    않겠는가... LED도 이쁘고 화려한 색깔들이 많다. 비싼 케이스는 LED색깔을
    선택할 수 있는 경우도 있지만 보급형 케이스는 LED색상이 대부분 고정되어
    있으니 확인해야한다.
  </p>

  <h2 class="margin_top_asset">케이스 구매시 고려사항 - 환풍구</h2>
  <p>
    PC는 열이 정말 많이 나는 기계이다. 그렇기 때문에 열을 많이
    배출해야한다. 케이스마다 환풍구의 위치, 갯수가 상이하기 때문에 충분히
    고려후 구매해야한다. 특히, 이 환풍구 소음이 시끄러울 때도 있으므로
    후기를 잘 보고 구매하길 바란다.
  </p>

  <h2 class="margin_top_asset">
    케이스 구매시 고려사항 - 전원버튼/포트 위치
  </h2>
  <p>
    케이스 마다 전원의 위치와 포트 위치가 다 다르다. 크게 정면에 있는
    경우, 위에 있는 경우로 나뉘는데 사용자에 따라 원하는 위치가 다를 것
    이다. 구매할 때 이와같은 요소들도 확인하면 좋다.
  </p>

</div>


</html>