<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="article">
  <h1>CPU</h1>

  <h2 class="margin_top_asset">CPU 정의 - 사전적 정의</h2>
  <img src="/images/cpu.png" width="500"  height="350" />
  <p>프로그램 실행과 데이터의 처리를 당담하는 핵심 요소 장치</p>

  <h2 class="margin_top_asset">CPU 정의 - CPU란?</h2>
  <p>
    인간으로 비유하면 두뇌에 해당한다. 컴퓨터 입력 장치(마우스, 키보드
    등)로 부터 자료를 받아 연산하고 그 결과를 외부로 출력하는 역할을
    한다.<br />
    따라서, CPU는 각종 컴퓨터 부품들과 정보를 교환하며 컴퓨터 시스템
    전체를 제어하므로 비싸고 좋은 CPU일수록 연산속도가 빨라 컴퓨터가
    빨라진다.
  </p>

  <h2 class="margin_top_asset">CPU 용어- 1.클럭</h2>
  <p>
    일반적으로 클럭 속도가 높을수록 CPU속도가 빠르다. 클럭 속도는 CPU가
    초당 실행하는 사이클 수를 GHz단위로 측정한다. 예를 들어, 클럭 속도가
    3.2GHz인 CPU는 32억 번의 사이클을 실행한다. <br />그래서 CPU 구매를
    고려할 때 클럭의 기본적으로 클럭 속도를 따져본다.
  </p>

  <h2 class="margin_top_asset">CPU 용어- 2.코어</h2>
  <p>
    코어는 연산 작업을 수행하는 핵심적인 부분이다. 코어의 수가 많을수록
    연산을 여러 개의 코어가 처리하기 때문에 훨씬 빠른 일 처리가
    가능해진다. 중요한 점은 만약 코어가 2개(듀얼 코어)라면 한번에 처리하는
    작업량이 2배가 되는 것이지, 속도가 2배가 된다는 것은 아니다.
  </p>

  <h2 class="margin_top_asset">CPU 용어- 3.쓰레드</h2>
  <p>
    CPU 내부에서 실질적으로 업무를 수행하는 가장 작은 단위이다. 코어는
    보통 하드웨어 관점에서 작업을 처리한다면 쓰레드는 소프트웨어 관점에서
    논리적인 작업 처리를 한다. 보통은 1코어 1쓰레드 공식이 있지만 요즘은
    1코어의 다수의 쓰레드가 존재한다.
  </p>

  <h2 class="margin_top_asset">CPU 용어- 4.메모리 규격</h2>
  <p>
    최근의 메모리 규격은 DDR5, DDR4로 출시가 되고 있는데 메인보드가 이를
    호환해주는지 확인해야한다.
  </p>

  <h2 class="margin_top_asset">CPU 용어- 5.내장 그래픽</h2>
  <p>
    내장 그래픽 유무는 CPU가 GPU역할을 할 수 있는지 알려준다. 같은 CPU
    사양으로 봤을 때 내장그래픽이 있는 CPU가 가격이 더 비싸다. 대신 내장
    그래픽이 있는 경우 굳이 그래픽카드는 구매하지 않아도 된다. 최근에
    나오는 CPU의 내장 그래픽 사양은 전 세계적으로 인기 있는 리그오브레전드
    게임은 <br />가능하지만, 그래픽 카드의 성능만큼은 뽑아내지 못한다.
  </p>

  <h2 class="margin_top_asset">구매시 고려사항 - 인텔 vs AMD</h2>
  <span
  ><img
          src="/images/intel.png.jpeg"
          width="250"
          height="150"
          style="margin-right: 50px" />
          <img src="/images/amd.jpeg" width="250" height="150"
          /></span>
  <p>
    전 세계적으로 대표적인 CPU회사가 2개가 있는데 인텔(Intel)과
    암드(AMD)이다. <br />인텔이 CPU시장을 독점하다 싶이 했지만 2018년
    이후부터는 AMD CPU점유율이 높아졌다. 위에 적힌 용어들을 공부하고
    어떠한 회사의 CPU를 선택할지 비교해서 정하는것은 구매자의 몫이다.
  </p>

  <h2 class="margin_top_asset">인텔(Intel) CPU 종류</h2>
  <p>
    대표적은로 i시리즈가 인텔의 대표 CPU이다. <br />펜티엄 < i3 < i5 < i7
    < i9 순으로 가격이 비싸지며 성능 또한 좋아진다. <br />
    세대가 높을수록 최신 CPU이므로 성능이 전 세대보다 좋아진다. 2022년
    10월 기준 13세대(랩터레이크)가 가장 최근 모델이다.<br />보통
    사무용으로 쓰는 컴퓨터에서는 펜티엄,i3 정도의 CPU만 사용한다.
    리그오브레전드 같은 게임이나 고사양게임을 원하면 i5,i7을 구매한다.
    고사양 그래픽 작업이나 초고사양 게임을 원할시에는 i7,i9을 구매한다.
  </p>

  <h2 class="margin_top_asset">암드(AMD) CPU 종류</h2>
  <p>
    대표적은로 라이젠 시리즈가 AMD 대표 CPU이다. <br />라이젠3 < 라이젠5 <
    라이젠7 < 라이젠9 순으로 가격이 비싸지며 성능 또한 좋아진다. <br />
    세대가 높을수록 최신 CPU이므로 성능이 전 세대보다 좋아진다. 2022년
    10월 기준 5세대(라파엘)가 가장 최근 모델이다.<br />보통 사무용으로
    쓰는 컴퓨터에서는 라이젠3를 사용한다. 리그오브레전드,오버워치 같은
    게임이나 고사양게임을 원하면 라이젠5,7을 구매한다. 고사양 그래픽
    작업이나 초고사양 게임을 원할시에는 라이젠7,9을 구매한다.
  </p>

</div>


</html>