<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="article">
  <h1>그래픽카드</h1>
  <h2 class="margin_top_asset">그래픽카드 정의 - GPU란?</h2>
  <img src="/images/gpu.jpg" width="500" , height="350" />
  <p>
    CPU의 명령 하에 이루어지는 그래픽 작업을 전문적으로 빠르게 처리하고
    디지털 신호를 영상 신호로 바꿔 모니터로 전송하는 장치이다.
  </p>

  <h2 class="margin_top_asset">그래픽카드 구매시 고려사항 - 클럭</h2>
  <p>
    클럭은 CPU페이지에서 소개한바 있는데 속도를 의미한다. 그래픽카드에서의
    단위는 MHz이며 숫자가 높을수록 더 좋은 성능을 가지고 있음을 의미한다.
  </p>

  <h2 class="margin_top_asset">
    그래픽카드 구매시 고려사항 - 인터페이스
  </h2>
  <p>
    메인보드 페이지에서 호환성 Check로 인터페이스를 소개한적 있다.
    그래픽카드와 메인보드의 사양을 잘 읽어보고 선택해야한다.
  </p>

  <h2 class="margin_top_asset">
    그래픽카드 구매시 고려사항 - 메모리용량
  </h2>
  <p>
    RAM페이지에서 메모리 용량에 대해서 간단히 소개한적 있다. 용량이 클수록
    그래픽카드가 한꺼번에 많은 양의 테스크를 처리할 수 있다. 비슷한
    클럭수를 가지고 있어도 용량 차이로 인한 성능 체감은 크게 느껴진다.
  </p>

  <h2 class="margin_top_asset">
    그래픽카드 구매시 고려사항 - 제품 시리즈
  </h2>
  <p>
    그래픽 카드를 선택하는데에 있어서 가장 중요한 부분이다. 그래픽카드의
    이름을 읽어보면 (회사명 + ex.지포스 RTX 4090) 이런식으로 이루어져있다.
    뒤에 지포스 RTX 4090은 제품 시리즈를 의미한다. 지포스는 NVIDIA의 GPU
    브랜드인데 거의 세계 시장을 독점하다 싶이 하고있다. RTX는 GTX의 상위
    호환인데 이것들은 제품 등급을 의미한다. <br />4090와 같은 숫자는
    세대와 성능을 의미한다.앞에 40은 세대이고 90은 성능인데 둘다 숫자가
    높을수록 가장 최근의 가장 성능이 좋은 그래픽 카드이다. 결국 중요하게
    봐야하는건 뒤에 두자리이다. 성능으로만 보면 2080 > 3070 이다. 하지만
    세대차이가 많이 나면 뒤에 2자리 숫자가 높아도 성능은 비슷한 경우도
    있다.
  </p>

</div>


</html>