<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="article">
  <h1>파워 서플라이</h1>

  <h2 class="margin_top_asset">파워 서플라이 정의 - 파워란?</h2>
  <img src="/images/power.jpeg" width="400" , height="300" />
  <p>컴퓨터에 전원을 공급하는 전기 장치이다.</p>

  <h2 class="margin_top_asset">파워 구매시 고려사항 - 정격출력</h2>
  <p>
    파워를 판매하는 회사들은 자기만의 독자적인 기술을 보유하고 있다면서
    여러 가지 기술들을 설명하지만 결국 제일 중요한건 정격출력이다. 보통은
    출력은 제일 많이 잡아먹는 그래픽카드의 성능에 따라서 결정한다.
    그래픽카드 사양을 잘 읽어보면 보통은 권장 파워용량을 적어놓으니 잘
    읽어보고 고르면 된다. 모니터 전력도 합쳐서 여유롭게 구매하는 것이
    좋다.
  </p>

  <h2 class="margin_top_asset">파워 구매시 고려사항 - 후기</h2>
  <p>
    파워를 고를 때는 후기같은걸 잘 찾아보는 것이 좋다. 특히 컴퓨터 소음은
    거의 파워 때문에 난다. 그래서 조용한 파워를 구매하는 것이 좋다. 또한
    잔고장이나 수명같은 정보들도 같이 알아보는 것이 좋다.
  </p>

  <h2 class="margin_top_asset">파워 회사</h2>
  <p>
    파워 서플라이를 공급하는 회사는 굉장히 많다. 뭘 선택해야할지 잘
    모르겠으면 무난하게 인터넷에서 판매량이 많은 파워를 구매하면 된다.
    시소닉, Antec과 같은 회사가 평이 좋으며 가성비 좋은 회사로는
    마이크로닉스, FSP 등이 있다.
  </p>

</div>


</html>