<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="article">

  <h1>저장장치(SSD/HDD)</h1>

  <h2 class="margin_top_asset">저장장치 정의 - 저장장치란?</h2>
  <img src="/images/ssd.jpg" width="500" , height="300" />
  <p>
    정확한 명칭은 보조 기억장치이다. 속도가 느리지만 용량은 주기억장치에
    비하면 상대적으로 매우 크다.
  </p>

  <h2 class="margin_top_asset">저장장치 고려사항 - 용량</h2>
  <p>
    컴퓨터를 사용해본사람이라면 용량이 얼마나 중요한지 알게된다. 구매자가
    판단해서 적절한 크기의 용량을 구매하면 된다.
  </p>

  <h2 class="margin_top_asset">저장장치 고려사항 - 인터페이스</h2>
  <p>
    그래픽 카드와 마찬가지로 메인보드와 호환이 가능한지 따져봐야한다. 너무
    옛날 메인보드가 아니라면 대부분의 메인보드와 저장장치는 호환이
    가능하다.
  </p>

  <h2 class="margin_top_asset">저장장치 종류 - 1.SSD</h2>
  <p>
    SSD는 속도가 매우 빠른 대신 가격이 비싸다. 하지만 최근 기술이 많이
    발전해 가격이 낮아지면서 보급화가 활봘히 이루어지고 있다. <br />
    대중화된 SSD의 메모리 타입은 TLC와 MLC정도가 있다. TLC는 MLC보다 훨씬
    수명이 짧으며 속도도 느리다. 대신 가격은 상대적으로 싸다.
  </p>

  <h2 class="margin_top_asset">저장장치 종류 - 2.HDD</h2>
  <p>
    국내에서는 하드디스크라고 말한다. SSD에 비하여 속도는 느린대신
    가격대비 용량이 매우 크다는 것을 SSD와 비교해보면 알 수 있다.
  </p>

  <h2 class="margin_top_asset">저장장치 구매시 팁...</h2>
  <p>
    SSD와 HDD를 둘 다 사용하여 고용량 데이터는 HDD에 저장하고 윈도우나
    각종 속도가 필요한 데이터는 SSD에 저장해서 사용하면 좋다. 회사 또한
    여러 개 있는데 SSD는 보통 국내에선 삼성전자나 마이크론 것을 많이
    이용하고 하드디스크는 랭킹순위에 있는 것을 구매하는게 가장 무난한다.
  </p>
</div>

<div class="reply">
  <form>
    <div class="formtag">
      <input class="reply_input" placeholder="댓글을 입력해주세요"></input>
      <button class="btn_reply">댓글 작성</button>
    </div>
  </form>
</div>


</html>