<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="aside" th:fragment="aside">
  <ul>
    <li><a href="/">사이트 소개</a></li>
    <li><a href="/info/cpu">CPU</a></li>
    <li><a href="/info/mainboard">메인보드</a></li>
    <li><a href="/info/ram">RAM(메인 메모리)</a></li>
    <li><a href="/info/gpu">그래픽 카드</a></li>
    <li><a href="/info/ssd">저장장치</a></li>
    <li><a href="/info/power">파워</a></li>
    <li><a href="/info/case">케이스</a></li>
    <li><a href="/board/list">견적 상담소</a></li>
  </ul>
</div>
</html>