<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="article">

  <h1>안녕하세요! PC모아모아입니다!!</h1>
  <p>
    저희 PC모아모아는 PC견적을 처음 맞추시는 분들이
    <br />어떻게 견적을 맞춰야할까?! 라고 고민 하시는 분들을 위한
    사이트입니다!<br />
    보다 이해하기 쉽게 정리해드리기 위해서 노력하겠습니다.
  </p>

  <h2 class="margin_top_asset">컴퓨터 견적 맞추기 순서</h2>
  <p>
    CPU → 메인보드(마더보드) → RAM → 기억장치(SSD / HDD) →
    <br />그래픽카드(GPU) → 파워 서플라이 → 케이스
  </p>

</div>

</html>